.headlines{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;

}

main .headline_section .headlines{
    position: absolute;
    height: 118px;
    left: 457px;
    top: 228px;
}

main .main_section .headlines{
    position: absolute;
    width: 669px;
    height: 119px;
    left: 265px;
    top: 787px;
    color: #464547;
}

main .about_culture .headlines{
    position: absolute;
    width: 480px;
    height: 117px;
    left: 360px;
    top: 1484px;
}
