body{
    margin: 0;
    padding: none;
}

.headline_section {
    background-image: url('first.png');
    height: 720px;
    border-radius: 0px;
    background-size: 100%;
}

main .main_section{
    height: 720px;
}

main .about_culture {
    background-image: url('second.png');
    height: 700px;
    background-repeat: no-repeat;
    border-radius: 0px;
    background-size: 100%;
}





